body {
  color: white;
  background-color: rgb(7, 7, 29);
}
* {
  /* border: 1px solid red;*/
}


/* Device: My Phone */
@media only screen and (max-width: 360px) {
  body {
    margin: 0;
  }
  .craftfolio-textbox {
    width: 360px;
    height: 150px;
    background-color: rgb(3, 139, 167);
  }
  .craftfolio-text {
    font-family: 'Lucida Handwriting', cursive;
  }
  .craftfolio-text1 {
    font-size: 40px;
    position: absolute;
    margin-top: 100px;
    margin: auto;
    left: 20px;
    top: 20px;
  }
  .craftfolio-text2 {
    font-size: 38px;
    position: absolute;
    right: 20px;
    top: 60px;
  }
  .profile-picture {
    width: 100px;
    height: 100px;
    border: solid 10px rgb(7, 7, 29);
    border-radius: 100%;
    position: absolute;
    left: 3px;
    top: 90px;
    z-index: 0;
  }
  .about1 {
    position: relative;
    top: 70px;
    background-color: rgb(40, 129, 230);
    color: black;
    width: 260px;
    height: 190px;
  }
  .about2 {
    position: relative;
    top: 100px;
    width: 260px;
    height: 340px;
  }
  .about-box > div {
    border: solid 2px rgb(16, 48, 211);
    margin: auto;
    border-radius: 10%;
    margin-bottom: 20px;
  }
  .text-about1 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-family: Garamond, serif;
    font-size: 17px;
  }
  .text-about2 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: Garamond, serif;
    font-size: 24px;
    position: relative;
    top: -15px;
  }
  .stats {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 50px;
    bottom: 205px;
  }
  .stats-line {
    margin: auto;
    height: 3px;
    width: 210px;
    position: relative;
    bottom: 220px;
    background-color: blue;
  }
  .stats > .stats-logo {
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
  }
  .distance-logo {
    width: 60px;
    height: 60px;
    position: relative;
    bottom: 10px;
    left: -4px;
  }
  .stats-text {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 105px;
    bottom: 215px;
  }
  .stats-text > p {
    font-family: monospace;
    margin-bottom: 45px
  }
  .stats-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 105px;
    bottom: 470px;
  }
  .stats-bar > div {
    height: 10px;
    width: 185px;
    border-radius: 5%;
    background-color: rgb(40, 129, 230);
    margin-bottom: 60px;
  }
  .time-bar {
    position: relative;
    bottom: 5px;
  }
  .stats-amount {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 795px;
    left: -55px;
    text-align: right;
  }
  .stats-amount > p {
    color: rgb(46, 203, 251);
    margin-bottom: 40px;
    font-style: italic;
  }
  .stats-decor {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 280px;
  }
  .skills-page {
    position: relative;
    width: 360px;
    height:  2200px;
    background-color: rgb(18, 18, 75);
    bottom: 1000px;
  }
  .skills-page > h2 {
    font-family: Garamond, serif;
    position: relative;
    top: 25px;
    text-align: center;
  }
  .skills-list {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .skills-logo-placeholder > div {
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 100%;
    background-color: rgb(18, 18, 75);
    border: 3px solid rgb(12, 145, 254);
    z-index: 2;
    margin-bottom: 100px;
    bottom: 2080px;
  }
  .skills-card > div {
    top: 40px;
    width: 90vw;
    height: 120px;
    border: 3px solid rgb(12, 145, 254);
    border-radius: 10%;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    z-index: 1;
  }
  .skills-list > img {
    width: 40px;
    height: 40px;
    position: relative;
    left: 15px;
    bottom: 10490px;
    margin-bottom: 133px;
    z-index: 3;
  }
  .skills-title > h3 {
    font-size: 23px;
    margin-left: 85px;
    bottom: 4150px;
    position: relative;
    margin-bottom: 149px;
  }
  .skills-line > div {
    width: 68vw;
    height: 3px;
    position: relative;
    background-color: rgb(4, 109, 189);
    margin-left: 75px;
    margin-bottom: 172px;
    bottom: 6220px;
  }
  .skills-explanation > p {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    bottom: 8300px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 133px;
  }
  /* Skills logo */
  #skills1 {
    width: 40px;
    height: 60px;
  }
 
}
  


/* --- MOBILE --- */
/* Device: Mobile S */
@media only screen and (min-width: 320px) {

}
/* Device: Mobile M */
@media only screen and (min-width: 375px) {

}
/* Device: Mobile L */
@media only screen and (min-width: 425px) {

}

/* --- TABLET --- */
@media only screen and (min-width: 768px) {

}

/* --- LAPTOP --- */
/* Device: Laptop */
@media only screen and (min-width: 1024px) {

}

/* Device: Laptop L */
@media only screen and (min-width: 1440px) {

}


/* --- 4K --- */
@media only screen and (min-width: 2650px) {

}